.build {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 100%;
  text-transform: uppercase;
}
.navigation {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 200%;
}
.navitem {
  align-self: stretch;
  border-left: 2px solid var(--primary-color-primary);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  color: var(--light-background-super);
}
.group,
.list,
.navitem,
.navitem1 {
  display: flex;
  justify-content: flex-start;
}
.navitem1 {
  align-self: stretch;
  border-left: 2px solid var(--dark-background-base);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
}
.group,
.list {
  flex-direction: column;
  align-items: flex-start;
}
.list {
  align-self: stretch;
  font-size: var(--medium-640-body-small-size);
  color: var(--dark-text-medium);
}
.group {
  width: 218px;
  gap: var(--gap-5xl);
}
.secure {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.1em;
  line-height: 100%;
  text-transform: uppercase;
}
.edge-firewall {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 200%;
  color: var(--light-background-super);
}
.list1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--dark-text-medium);
}
.group1 {
  width: 218px;
  gap: var(--gap-5xl);
  font-size: var(--medium-640-body-small-size);
}
.group1,
.list2,
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list2 {
  align-self: stretch;
  font-size: var(--medium-640-body-small-size);
  color: var(--light-background-super);
}
.nav {
  background-color: var(--light-text-strong);
  width: 309px;
  height: 14068px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: var(--padding-21xl) var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 29px;
}
.title {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.title-header {
  align-self: stretch;
  background-color: var(--light-background-super);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) 0 var(--padding-5xl) var(--padding-21xl);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--special-large-1600-headline-h4-size);
}
.icon1 {
  position: relative;
  width: 56px;
  height: 56px;
}
.icon,
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.row {
  align-items: center;
  gap: var(--gap-base);
}
.build-serverless-applications {
  line-height: 180%;
}
.access-product-details {
  text-decoration: underline;
  line-height: 160%;
  color: var(--primary-color-primary);
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-medium);
}
.container,
.price-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  width: 652px;
  gap: var(--gap-5xl);
}
.price-banner {
  align-self: stretch;
  background-color: var(--light-background-super);
  overflow: hidden;
  padding: var(--padding-21xl);
}
.description1,
.header {
  align-self: stretch;
  position: relative;
  line-height: 180%;
  z-index: 0;
}
.description1 {
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
  z-index: 1;
}
.icon2 {
  position: relative;
  width: 16px;
  height: 16px;
}
.info-circle-fill {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 8px);
  left: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.description2,
.tableheader {
  align-self: stretch;
  position: relative;
  text-align: left;
}
.tableheader {
  width: 208px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.description2 {
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
  display: none;
  z-index: 1;
}
.info-circle-fill1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 8px);
  left: 4px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.row1,
.tableheader1 {
  align-self: stretch;
  display: flex;
}
.tableheader1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  position: relative;
}
.row1 {
  border-top: 1px solid var(--global-neutrals-gray-100);
  border-bottom: 1px solid var(--global-neutrals-gray-100);
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-strong);
}
.text {
  position: relative;
  line-height: 150%;
}
.cell,
.text,
.text1 {
  align-self: stretch;
}
.text1 {
  position: relative;
  line-height: 150%;
  color: var(--light-text-medium);
}
.cell {
  width: 208px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--light-text-strong);
}
.cell1,
.row2 {
  display: flex;
  flex-direction: row;
}
.cell1 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-base) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.row2 {
  align-self: stretch;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-text {
  position: relative;
  line-height: 180%;
}
.chevron-right,
.trigger {
  display: flex;
  flex-direction: row;
}
.chevron-right {
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.trigger {
  align-self: stretch;
  background-color: var(--light-background-base);
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.accordionrow,
.table,
.tablecontainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.accordionrow {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-strong);
}
.table,
.tablecontainer {
  align-items: flex-start;
  justify-content: flex-start;
}
.table {
  border-radius: var(--br-9xs);
  border: 1px solid var(--global-neutrals-gray-100);
  overflow: hidden;
}
.tablecontainer {
  padding: var(--padding-5xl) var(--padding-21xl);
  text-align: center;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-medium);
}
.icon10 {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.container1 {
  width: 808px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icon21 {
  position: relative;
  width: 24px;
  height: 24px;
}
.this-is-the {
  margin: 0;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
}
.button {
  border-radius: var(--br-11xs);
  background-color: var(--primary-color-primary);
  display: none;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--special-large-1600-body-small-size);
}
.banner,
.card,
.infos {
  display: flex;
  padding: var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.card {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  flex-direction: column;
  gap: var(--gap-5xl);
}
.banner,
.infos {
  width: 1611px;
  box-sizing: border-box;
}
.infos {
  height: 504px;
  flex-direction: row;
  gap: var(--gap-15xl);
}
.banner {
  background-color: var(--light-background-super);
  flex-direction: column;
}
.description20 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
  display: none;
  z-index: 1;
}
.row20,
.row21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.row20 {
  border-top: 1px solid var(--global-neutrals-gray-100);
  border-bottom: 1px solid var(--global-neutrals-gray-100);
}
.row21 {
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-medium);
}
.accordionrow2 {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.accordionrow2,
.cell161,
.tablecontainer2,
.tableheader28 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.tablecontainer2 {
  padding: var(--padding-5xl) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--special-large-1600-body-medium-default-size);
}
.cell161,
.tableheader28 {
  flex: 1;
  padding: var(--padding-9xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: left;
}
.tableheader28 {
  position: relative;
}
.cell161 {
  overflow: hidden;
  color: var(--light-text-strong);
}
.info3 {
  gap: var(--gap-5xl);
}
.cell182,
.container3,
.info3,
.tableheader31 {
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell182,
.tableheader31 {
  align-self: stretch;
  width: 232px;
  padding: var(--padding-9xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.tableheader31 {
  position: relative;
}
.cell182 {
  overflow: hidden;
  flex-shrink: 0;
  color: var(--light-text-strong);
}
.card3,
.infos1 {
  display: flex;
  padding: var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.card3 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  flex-direction: column;
  gap: var(--gap-5xl);
}
.infos1 {
  width: 1611px;
  height: 464px;
  flex-direction: row;
  box-sizing: border-box;
  gap: var(--gap-15xl);
}
.cell238,
.cell239,
.tableheader46 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableheader46 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  position: relative;
  text-align: center;
}
.cell238,
.cell239 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
}
.cell238 {
  align-self: stretch;
}
.cell239 {
  text-align: center;
}
.accordionrow7,
.tablecontainer7 {
  align-self: stretch;
  flex-direction: column;
}
.accordionrow7 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-strong);
}
.tablecontainer7 {
  padding: var(--padding-5xl) var(--padding-21xl);
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-medium);
}
.card4,
.infos2,
.row62,
.tablecontainer7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card4 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  height: 424px;
  flex-direction: column;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.infos2,
.row62 {
  flex-direction: row;
}
.infos2 {
  width: 1611px;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-15xl);
}
.row62 {
  align-self: stretch;
  border-top: 1px solid var(--global-neutrals-gray-100);
  border-bottom: 1px solid var(--global-neutrals-gray-100);
  padding: var(--padding-5xs);
  font-size: var(--special-large-1600-body-medium-default-size);
}
.cell248,
.cell249 {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell248 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
}
.cell249 {
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  text-align: center;
  color: var(--light-text-medium);
}
.accordionrow8,
.tablecontainer8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.accordionrow8 {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: var(--special-large-1600-body-medium-default-size);
}
.tablecontainer8 {
  padding: var(--padding-5xl) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-small-size);
}
.tag1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
}
.tag,
.tag2 {
  border-radius: var(--br-481xl);
  border: 1px solid var(--primary-color-primary);
  box-sizing: border-box;
  height: 22px;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--light-text-medium);
}
.tag {
  display: flex;
}
.tag2 {
  display: none;
}
.card7,
.infos3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card7 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  flex-direction: column;
  padding: var(--padding-21xl);
  gap: var(--gap-5xl);
  opacity: 0;
}
.infos3 {
  width: 1611px;
  height: 376px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-15xl);
}
.azion-plans-platform1 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 1472px;
  flex-shrink: 0;
}
.first {
  background-color: var(--light-background-super);
  width: 1611px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) 0 var(--padding-5xl) var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--special-large-1600-headline-h4-size);
}
.developer {
  position: relative;
  line-height: 150%;
}
.row86 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.for-developers-who {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--light-text-medium);
}
.info5 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.banner1,
.button8,
.info5,
.info6 {
  display: flex;
  justify-content: flex-start;
}
.button8 {
  border-radius: var(--br-11xs);
  background-color: var(--primary-color-primary);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--special-large-1600-body-small-size);
}
.banner1,
.info6 {
  flex-direction: column;
  align-items: flex-start;
}
.banner1 {
  background-color: var(--light-background-base);
  width: 1611px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.info6 {
  flex: 1;
  gap: var(--gap-5xl);
}
.minimum-usd-250monthly {
  align-self: stretch;
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.primary-text10 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  color: var(--light-text-medium);
}
.div {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--special-large-1600-body-large-size);
}
.icon-left {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.primary-text11 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 16px;
}
.secondary-text {
  align-self: stretch;
  position: relative;
  font-size: var(--row-secondary-text-size);
  line-height: 150%;
  font-family: var(--row-secondary-text);
  color: var(--color-gray-100);
  display: none;
  opacity: 0.7;
}
.row-cell,
.text334 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-cell {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell280,
.row-main-recomponentize-d {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell280 {
  flex: 1;
  height: 64px;
  display: flex;
}
.row-main-recomponentize-d {
  align-self: stretch;
  background-color: var(--light-background-super);
  overflow: hidden;
  display: none;
  padding: 0 0 0 var(--padding-13xl);
}
.total-for-us {
  color: var(--light-text-medium);
}
.banner2,
.table-parent,
.table10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.table10 {
  align-self: stretch;
  background-color: var(--light-background-super);
  overflow: hidden;
  flex-direction: column;
}
.banner2,
.table-parent {
  box-sizing: border-box;
}
.table-parent {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  width: 688px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  font-size: var(--special-large-1600-body-small-size);
}
.banner2 {
  background-color: var(--light-background-base);
  width: 1611px;
  flex-direction: row;
  padding: var(--padding-21xl);
  gap: var(--gap-21xl);
}
.monthly-charges-are {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.info-circle-fill-parent {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--global-neutrals-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.limits {
  flex: 1;
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.header57 {
  align-self: stretch;
  border: 1px solid var(--global-neutrals-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-large-size);
}
.icon-left12 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 16px;
  display: none;
}
.cell292,
.text346 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell292 {
  justify-content: center;
}
.row-main-recomponentize-d12 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-text-medium);
}
.block,
.row-main-recomponentize-d12,
.row-main-recomponentize-d13,
.table13 {
  background-color: var(--light-background-super);
  display: flex;
}
.row-main-recomponentize-d13 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 0 var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.block,
.table13 {
  flex-direction: column;
}
.table13 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}
.block {
  width: 1611px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  font-size: var(--special-large-1600-body-small-size);
}
.block,
.content,
.pricing-page,
.section-prices {
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  display: flex;
  flex-direction: column;
  font-size: var(--special-large-1600-headline-h5-size);
  color: var(--light-text-strong);
}
.pricing-page,
.section-prices {
  overflow-y: auto;
}
.section-prices {
  align-self: stretch;
  background-color: var(--light-background-super);
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.pricing-page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--primary-color-primary);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 960px) {
  .description {
    width: auto;
  }
  .container,
  .description {
    align-self: stretch;
  }
  .container,
  .container1,
  .container3 {
    width: auto;
    height: auto;
  }
  .container3 {
    align-self: stretch;
  }
}
