.all-products-and,
.plans {
  align-self: stretch;
  position: relative;
}
.plans {
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
}
.all-products-and {
  font-size: var(--slg-1600px-h2-slg1600-section-title-size);
  line-height: 140%;
  color: var(--light-background-super);
}
.our-usage-based-pricing {
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--dark-text-medium);
  display: flex;
  align-items: center;
  width: 640px;
}
.texts {
  width: 892px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.b,
.badge-child {
  position: absolute;
}
.badge-child {
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b {
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge,
.title {
  position: relative;
}
.badge {
  width: 24px;
  height: 25px;
  color: var(--light-background-super);
}
.title {
  align-self: stretch;
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
}
.description {
  align-self: stretch;
  font-size: var(--special-large-1600-body-large-size);
  color: var(--light-text-medium);
}
.description,
.div,
.div1 {
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.div1 {
  flex: 1;
  font-size: var(--font-size-37xl);
  line-height: 140%;
  font-weight: 900;
}
.price {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.in-credit-to {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
}
.content,
.slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slot {
  width: 437.33px;
  gap: var(--gap-5xs);
  font-size: var(--special-large-1600-headline-h4-size);
}
.content {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.no-credit-card {
  align-self: stretch;
  line-height: 150%;
}
.icon,
.label,
.no-credit-card {
  position: relative;
}
.label {
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-body-small);
  color: var(--light-text-strong);
  text-align: left;
}
.icon {
  width: 16px;
  height: 16px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-color-primary);
  border-radius: var(--br-11xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button-area,
.card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-area {
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--medium-640-body-small-size);
  color: var(--light-text-medium);
}
.card {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-super);
  overflow: hidden;
  padding: var(--padding-21xl);
  justify-content: space-between;
  color: var(--light-text-strong);
}
.badge1 {
  position: relative;
  width: 24px;
  height: 25px;
}
.after-that-pay {
  margin: 0;
}
.more {
  color: var(--primary-color-primary);
}
.you-use-the {
  color: var(--light-background-super);
}
.gb-transferred,
.rate-as-low {
  align-self: stretch;
  position: relative;
}
.rate-as-low {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 160%;
}
.gb-transferred {
  line-height: 150%;
  color: var(--dark-text-medium);
}
.content1,
.info-product,
.slot1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slot1 {
  height: 298px;
  gap: var(--gap-base);
}
.content1 {
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-5xl);
}
.label1 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-body-small);
  color: var(--light-background-super);
  text-align: left;
}
.button1 {
  border-radius: var(--br-11xs);
  border: 2px solid var(--light-background-super);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button-area1,
.card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-area1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
}
.card1 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  overflow: hidden;
  padding: 39.999969482421875px;
  justify-content: space-between;
}
.description1 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--dark-text-medium);
}
.button2,
.content2 {
  display: flex;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.button2 {
  border-radius: var(--br-11xs);
  border: 2px solid var(--light-background-super);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  cursor: pointer;
}
.card2 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-21xl);
  justify-content: space-between;
}
.card2,
.cards,
.section-banner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.cards {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--light-background-super);
}
.section-banner {
  background-color: var(--light-text-strong);
  flex-direction: column;
  padding: var(--padding-37xl) var(--padding-141xl) var(--padding-121xl);
  justify-content: center;
  gap: var(--gap-61xl);
}
.build {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 100%;
  text-transform: uppercase;
}
.navigation {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 200%;
}
.navitem {
  align-self: stretch;
  border-left: 2px solid var(--primary-color-primary);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  color: var(--light-background-super);
}
.group,
.list,
.navitem,
.navitem1 {
  display: flex;
  justify-content: flex-start;
}
.navitem1 {
  align-self: stretch;
  border-left: 2px solid var(--dark-background-base);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
}
.group,
.list {
  flex-direction: column;
  align-items: flex-start;
}
.list {
  align-self: stretch;
  font-size: var(--medium-640-body-small-size);
  color: var(--dark-text-medium);
}
.group {
  width: 218px;
  gap: var(--gap-5xl);
}
.secure {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.1em;
  line-height: 100%;
  text-transform: uppercase;
}
.edge-firewall {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 200%;
  color: var(--light-background-super);
}
.list1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--dark-text-medium);
}
.group1 {
  width: 218px;
  gap: var(--gap-5xl);
  font-size: var(--medium-640-body-small-size);
}
.group1,
.list2,
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list2 {
  align-self: stretch;
  font-size: var(--medium-640-body-small-size);
  color: var(--light-background-super);
}
.nav {
  background-color: var(--light-text-strong);
  width: 309px;
  height: 14068px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: var(--padding-21xl) var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: 29px;
}
.products {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 1472px;
  flex-shrink: 0;
}
.icon3 {
  position: relative;
  width: 56px;
  height: 56px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.build-serverless-applications {
  line-height: 180%;
}
.access-product-details {
  text-decoration: underline;
  line-height: 160%;
  color: var(--primary-color-primary);
}
.build-serverless-applications-container {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-medium);
}
.info,
.price-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info {
  width: 652px;
  gap: var(--gap-5xl);
}
.price-banner {
  background-color: var(--light-background-super);
  width: 1611px;
  overflow: hidden;
  padding: var(--padding-21xl);
  box-sizing: border-box;
}
.description2,
.header {
  align-self: stretch;
  position: relative;
  line-height: 180%;
  z-index: 0;
}
.description2 {
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
  z-index: 1;
}
.info-circle-fill {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 8px);
  left: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.description3,
.tableheader {
  align-self: stretch;
  position: relative;
  text-align: left;
}
.tableheader {
  width: 208px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.description3 {
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
  display: none;
  z-index: 1;
}
.info-circle-fill1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 8px);
  left: 4px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.tableheader1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  position: relative;
}
.row1 {
  border-top: 1px solid var(--global-neutrals-gray-100);
  border-bottom: 1px solid var(--global-neutrals-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-strong);
}
.cell,
.row1,
.text1 {
  align-self: stretch;
}
.text1 {
  position: relative;
  line-height: 150%;
  color: var(--light-text-medium);
}
.cell {
  width: 208px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--light-text-strong);
}
.cell1,
.row2 {
  display: flex;
  flex-direction: row;
}
.cell1 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-base) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.row2 {
  align-self: stretch;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.primary-text {
  position: relative;
  line-height: 180%;
}
.chevron-right,
.trigger {
  display: flex;
  flex-direction: row;
}
.chevron-right {
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.trigger {
  align-self: stretch;
  background-color: var(--light-background-base);
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.accordionrow,
.table,
.tablecontainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.accordionrow {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-strong);
}
.table,
.tablecontainer {
  align-items: flex-start;
  justify-content: flex-start;
}
.table {
  border-radius: var(--br-9xs);
  border: 1px solid var(--global-neutrals-gray-100);
  overflow: hidden;
}
.tablecontainer {
  padding: var(--padding-5xl) var(--padding-21xl);
  text-align: center;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-medium);
}
.icon12 {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.edge-caching,
.info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info1 {
  width: 808px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.edge-caching {
  flex-direction: row;
}
.icon22 {
  position: relative;
  width: 24px;
  height: 24px;
}
.content4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
}
.button3 {
  border-radius: var(--br-11xs);
  background-color: var(--primary-color-primary);
  display: none;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--special-large-1600-body-small-size);
}
.banner,
.card3,
.infos {
  display: flex;
  padding: var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.card3 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  flex-direction: column;
  gap: var(--gap-5xl);
}
.banner,
.infos {
  width: 1611px;
  box-sizing: border-box;
}
.infos {
  height: 504px;
  flex-direction: row;
  gap: var(--gap-15xl);
}
.banner {
  background-color: var(--light-background-super);
  flex-direction: column;
}
.description18 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
  display: none;
  z-index: 1;
}
.row20,
.row21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.row20 {
  border-top: 1px solid var(--global-neutrals-gray-100);
  border-bottom: 1px solid var(--global-neutrals-gray-100);
}
.row21 {
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-medium);
}
.accordionrow2,
.tablecontainer2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.accordionrow2 {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.tablecontainer2 {
  padding: var(--padding-5xl) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--special-large-1600-body-medium-default-size);
}
.tableheader28 {
  flex: 1;
  position: relative;
}
.cell161,
.cell182,
.tableheader28,
.tableheader31 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: left;
}
.cell161 {
  flex: 1;
  overflow: hidden;
  color: var(--light-text-strong);
}
.cell182,
.tableheader31 {
  width: 232px;
  box-sizing: border-box;
}
.tableheader31 {
  position: relative;
}
.cell182 {
  overflow: hidden;
  flex-shrink: 0;
  color: var(--light-text-strong);
}
.card6,
.infos1 {
  display: flex;
  padding: var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.card6 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  flex-direction: column;
  gap: var(--gap-5xl);
}
.infos1 {
  width: 1611px;
  height: 464px;
  flex-direction: row;
  box-sizing: border-box;
  gap: var(--gap-15xl);
}
.cell238,
.tableheader46 {
  align-self: stretch;
  flex: 1;
}
.tableheader46 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.cell238 {
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
}
.accordionrow7,
.cell238,
.cell239 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell239 {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  text-align: center;
}
.accordionrow7 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-text-strong);
}
.card7,
.infos2,
.tablecontainer7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tablecontainer7 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-21xl);
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-medium);
}
.card7,
.infos2 {
  box-sizing: border-box;
}
.card7 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  height: 424px;
  flex-direction: column;
  padding: var(--padding-21xl);
  gap: var(--gap-5xl);
}
.infos2 {
  width: 1611px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  gap: var(--gap-15xl);
}
.data-streaming {
  position: relative;
  line-height: 150%;
}
.row62 {
  align-self: stretch;
  border-top: 1px solid var(--global-neutrals-gray-100);
  border-bottom: 1px solid var(--global-neutrals-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-medium-default-size);
}
.cell248,
.cell249 {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell248 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xl);
}
.cell249 {
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  text-align: center;
  color: var(--light-text-medium);
}
.accordionrow8,
.tablecontainer8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.accordionrow8 {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: var(--special-large-1600-body-medium-default-size);
}
.tablecontainer8 {
  padding: var(--padding-5xl) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-small-size);
}
.tag1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
}
.tag {
  border-radius: var(--br-481xl);
  border: 1px solid var(--primary-color-primary);
  box-sizing: border-box;
  height: 22px;
  display: flex;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--light-text-medium);
}
.card10,
.tag,
.tag2 {
  flex-direction: column;
}
.tag2 {
  border-radius: var(--br-481xl);
  border: 1px solid var(--primary-color-primary);
  box-sizing: border-box;
  height: 22px;
  display: none;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--light-text-medium);
}
.card10 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-base);
  display: flex;
  padding: var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  opacity: 0;
}
.first,
.infos3 {
  width: 1611px;
  box-sizing: border-box;
}
.infos3 {
  height: 376px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.first {
  background-color: var(--light-background-super);
  overflow: hidden;
  padding: var(--padding-5xl) 0 var(--padding-5xl) var(--padding-21xl);
  font-size: var(--special-large-1600-headline-h4-size);
}
.first,
.row86 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.for-developers-who {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--light-text-medium);
}
.banner1,
.button11,
.info11 {
  display: flex;
  justify-content: flex-start;
}
.button11 {
  border-radius: var(--br-11xs);
  background-color: var(--primary-color-primary);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--special-large-1600-body-small-size);
}
.banner1,
.info11 {
  flex-direction: column;
  align-items: flex-start;
}
.banner1 {
  background-color: var(--light-background-base);
  width: 1611px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.info11 {
  flex: 1;
  gap: var(--gap-5xl);
}
.minimum-usd-250monthly {
  align-self: stretch;
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.primary-text10 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  color: var(--light-text-medium);
}
.div2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--special-large-1600-body-large-size);
}
.icon-left {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.primary-text11 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 16px;
}
.secondary-text {
  align-self: stretch;
  position: relative;
  font-size: var(--row-secondary-text-size);
  line-height: 150%;
  font-family: var(--row-secondary-text);
  color: var(--color-gray-100);
  display: none;
  opacity: 0.7;
}
.row-cell,
.text334 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-cell {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell280,
.row-main-recomponentize-d {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell280 {
  flex: 1;
  height: 64px;
  display: flex;
}
.row-main-recomponentize-d {
  align-self: stretch;
  background-color: var(--light-background-super);
  overflow: hidden;
  display: none;
  padding: 0 0 0 var(--padding-13xl);
}
.total-for-us {
  color: var(--light-text-medium);
}
.banner2,
.table-parent,
.table10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.table10 {
  align-self: stretch;
  background-color: var(--light-background-super);
  overflow: hidden;
  flex-direction: column;
}
.banner2,
.table-parent {
  box-sizing: border-box;
}
.table-parent {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  width: 688px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  font-size: var(--special-large-1600-body-small-size);
}
.banner2 {
  background-color: var(--light-background-base);
  width: 1611px;
  flex-direction: row;
  padding: var(--padding-21xl);
  gap: var(--gap-21xl);
}
.monthly-charges-are {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.info-circle-fill-parent {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--global-neutrals-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.limits {
  flex: 1;
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.header57 {
  align-self: stretch;
  border: 1px solid var(--global-neutrals-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--special-large-1600-body-large-size);
}
.icon-left12 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 16px;
  display: none;
}
.cell292,
.text346 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell292 {
  justify-content: center;
}
.row-main-recomponentize-d12 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-text-medium);
}
.block,
.row-main-recomponentize-d12,
.row-main-recomponentize-d13,
.table13 {
  background-color: var(--light-background-super);
}
.row-main-recomponentize-d13 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.block,
.table13 {
  flex-direction: column;
}
.table13 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.block {
  width: 1611px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  font-size: var(--special-large-1600-body-small-size);
}
.block,
.content3,
.pricing-page,
.section-prices {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  flex-direction: column;
  font-size: var(--special-large-1600-headline-h5-size);
  color: var(--light-text-strong);
}
.pricing-page,
.section-prices {
  overflow-y: auto;
}
.section-prices {
  align-self: stretch;
  background-color: var(--light-background-super);
  flex-shrink: 0;
  flex-direction: row;
  font-size: var(--font-size-xs);
}
.pricing-page {
  position: relative;
  width: 100%;
  height: 15904px;
  flex-direction: column;
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--primary-color-primary);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 960px) {
  .all-products-and,
  .our-usage-based-pricing,
  .plans {
    align-self: stretch;
    width: auto;
  }
  .card,
  .card1,
  .texts {
    height: auto;
    align-self: stretch;
  }
  .texts {
    width: auto;
  }
  .card,
  .card1 {
    flex: unset;
  }
  .content2 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card2,
  .cards {
    align-self: stretch;
    height: auto;
  }
  .card2 {
    flex: unset;
  }
  .cards {
    width: auto;
    flex-direction: column;
  }
  .section-banner {
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
}
