.title21 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
}
.subtitle {
  position: relative;
  line-height: 180%;
}
.if-you-want {
  color: var(--dark-text-medium);
}
.description83 {
  align-self: stretch;
  position: relative;
  line-height: 180%;
}
.card11,
.content14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content14 {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.card11 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  padding: var(--padding-13xl);
  justify-content: space-between;
  text-align: left;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--light-background-super);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 1440px) {
  .content14 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card11 {
    flex: 1;
    align-self: stretch;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .card11 {
    flex: unset;
    align-self: stretch;
  }
}
