.price7,
.title9 {
  position: relative;
}
.title9 {
  align-self: stretch;
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
}
.price7 {
  line-height: 180%;
}
.if-you-want {
  color: var(--light-text-text-color-weak);
}
.description90 {
  align-self: stretch;
  position: relative;
  line-height: 180%;
}
.content46 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label32 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-headline-h2);
  color: var(--light-text-text-color-strong);
  text-align: left;
}
.icon279 {
  position: relative;
  width: 16px;
  height: 16px;
}
.button28 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-color-primary);
  border-radius: var(--br-11xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.card14 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  height: 438px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--super-light-theme);
  font-family: var(--special-large-1600-headline-h2);
}
@media screen and (max-width: 960px) {
  .content46 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card14 {
    flex: unset;
    height: auto;
    align-self: stretch;
  }
}
