.how-do-you,
.plans2 {
  align-self: stretch;
  position: relative;
}
.plans2 {
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
}
.how-do-you {
  font-size: var(--slg-1600px-h2-slg1600-section-title-size);
  line-height: 140%;
  color: var(--super-light-theme);
}
.our-usage-based-pricing2 {
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--light-text-text-color-weak);
  display: flex;
  align-items: center;
  width: 640px;
}
.texts2 {
  width: 892px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.badge-child3 {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b6 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge6,
.title4 {
  position: relative;
}
.badge6 {
  width: 24px;
  height: 25px;
  color: var(--super-light-theme);
}
.title4 {
  align-self: stretch;
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
}
.description86 {
  align-self: stretch;
  font-size: var(--special-large-1600-body-large-size);
  color: var(--light-text-text-color-medium);
}
.description86,
.div10,
.div11 {
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.div11 {
  flex: 1;
  font-size: var(--font-size-37xl);
  line-height: 140%;
  font-weight: 900;
}
.price6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.in-credit-to2 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-text-color-medium);
}
.content41,
.slot20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slot20 {
  width: 437.33px;
  gap: var(--gap-5xs);
  font-size: var(--special-large-1600-headline-h4-size);
}
.content41 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.no-credit-card2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.label27 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-headline-h2);
  color: var(--light-text-text-color-strong);
  text-align: left;
}
.icon274 {
  position: relative;
  width: 16px;
  height: 16px;
}
.button23 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-color-primary);
  border-radius: var(--br-11xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button-area3,
.card11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-area3 {
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--medium-640-body-small-size);
  color: var(--light-text-text-color-medium);
}
.card11 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--super-light-theme);
  overflow: hidden;
  padding: var(--padding-21xl);
  justify-content: space-between;
  color: var(--light-text-text-color-strong);
}
.badge7 {
  position: relative;
  width: 24px;
  height: 25px;
}
.after-that-pay2 {
  margin: 0;
}
.more2 {
  color: var(--primary-color-primary);
}
.you-use-the1 {
  color: var(--super-light-theme);
}
.gb-transferred4,
.rate-as-low2 {
  align-self: stretch;
  position: relative;
}
.rate-as-low2 {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 160%;
}
.gb-transferred4 {
  line-height: 150%;
  color: var(--light-text-text-color-weak);
}
.content42,
.info-product8,
.slot21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slot21 {
  height: 298px;
  gap: var(--gap-base);
}
.content42 {
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-5xl);
}
.label28 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-headline-h2);
  color: var(--super-light-theme);
  text-align: left;
}
.button24 {
  border-radius: var(--br-11xs);
  border: 2px solid var(--super-light-theme);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button-area4,
.card12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-area4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
}
.card12 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  overflow: hidden;
  padding: 39.999969482421875px;
  justify-content: space-between;
}
.description87 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--light-text-text-color-weak);
}
.button25,
.content43 {
  display: flex;
  justify-content: flex-start;
}
.content43 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.button25 {
  border-radius: var(--br-11xs);
  border: 2px solid var(--super-light-theme);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  cursor: pointer;
}
.card13,
.cards2,
.section-banner2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.card13 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-21xl);
  justify-content: space-between;
}
.cards2,
.section-banner2 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--super-light-theme);
}
.section-banner2 {
  background-color: var(--light-text-text-color-strong);
  flex-direction: column;
  padding: var(--padding-37xl) var(--padding-141xl) var(--padding-121xl);
  justify-content: center;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--primary-color-primary);
  font-family: var(--special-large-1600-headline-h2);
}
@media screen and (max-width: 960px) {
  .how-do-you,
  .our-usage-based-pricing2,
  .plans2 {
    align-self: stretch;
    width: auto;
  }
  .card11,
  .card12,
  .texts2 {
    height: auto;
    align-self: stretch;
  }
  .texts2 {
    width: auto;
  }
  .card11,
  .card12 {
    flex: unset;
  }
  .content43 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card13,
  .cards2 {
    align-self: stretch;
    height: auto;
  }
  .card13 {
    flex: unset;
  }
  .cards2 {
    width: auto;
    flex-direction: column;
  }
  .section-banner2 {
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
}
