.badge-child4 {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b7 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge7 {
  position: relative;
  width: 24px;
  height: 25px;
}
.description89,
.tagline1,
.title8 {
  align-self: stretch;
  position: relative;
}
.tagline1 {
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--primary-color-primary);
}
.description89,
.title8 {
  line-height: 140%;
}
.description89 {
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--light-text-medium);
}
.label28,
.text384 {
  color: var(--light-text-strong);
}
.text384 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--special-large-1600-headline-h2-size);
}
.label28 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-body-small);
  text-align: left;
}
.icon275 {
  position: relative;
  width: 16px;
  height: 16px;
}
.button24,
.content45 {
  display: flex;
  justify-content: flex-start;
}
.button24 {
  cursor: pointer;
  border: 2px solid var(--light-text-strong);
  padding: var(--padding-base);
  background-color: transparent;
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.content45 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15 {
  position: absolute;
  height: calc(100% - 588.34px);
  top: 343.94px;
  left: 61px;
  line-height: 180%;
  display: flex;
  align-items: center;
  width: 13.18px;
  opacity: 0.34;
}
.div11,
.div12,
.div13,
.div14,
.div15 {
  top: 252.28px;
}
.div12,
.div13,
.div14,
.div15 {
  top: 160.61px;
}
.div13,
.div14,
.div15 {
  top: 68.95px;
}
.div14,
.div15 {
  top: 435.6px;
  width: 9.06px;
}
.div15 {
  top: 527.27px;
  width: 13.18px;
}
.ilustration-chart-child,
.ilustration-chart-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ilustration-chart-child {
  height: calc(100% - 164.63px);
  width: calc(100% - 129.73px);
  top: 87.18px;
  right: 20.97px;
  bottom: 77.45px;
  left: 108.76px;
  opacity: 0.67;
}
.ilustration-chart-item {
  height: 63.88%;
  width: calc(100% - 193.18px);
  top: 23.45%;
  right: 97.38px;
  bottom: 12.67%;
  left: 95.8px;
  opacity: 0.34;
}
.cost,
.revenue,
.traffic {
  position: absolute;
  top: 204.95px;
  right: 30.2px;
  line-height: 180%;
  color: var(--light-text-medium);
}
.cost,
.revenue {
  top: 295.95px;
  right: 44.2px;
}
.revenue {
  top: 125.95px;
  right: 10.2px;
  color: var(--primary-color-primary);
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: calc(100% - 408.79px);
  width: calc(100% - 191.29px);
  top: 143.35px;
  right: 96.84px;
  bottom: 265.45px;
  left: 94.44px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
  height: calc(100% - 443.29px);
  top: 222.35px;
  right: 97.35px;
  bottom: 220.95px;
  left: 93.94px;
}
.vector-icon2 {
  height: calc(100% - 517.87px);
  width: calc(100% - 193.17px);
  top: 312.31px;
  right: 97.36px;
  bottom: 205.57px;
  left: 95.81px;
}
.ilustration-chart {
  position: relative;
  width: 695px;
  height: 618px;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--color-gray-100);
}
.section-talkexpert {
  align-self: stretch;
  background: linear-gradient(180deg, #f9f9f9, #f2f2f2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-61xl) var(--padding-141xl);
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-background-super);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 1200px) {
  .description89,
  .tagline1,
  .title8 {
    align-self: stretch;
    width: auto;
  }
  .content45,
  .text384 {
    height: auto;
    align-self: stretch;
  }
  .text384 {
    width: auto;
  }
  .content45 {
    flex: unset;
  }
  .section-talkexpert {
    flex-direction: column;
    gap: var(--gap-13xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 960px) {
  .content45 {
    flex: unset;
    align-self: stretch;
  }
  .section-talkexpert {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-13xl);
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
}
