.badge-child1 {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b4 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge4 {
  position: relative;
  width: 24px;
  height: 25px;
  color: var(--light-background-super);
}
.description82,
.tagline2,
.title20 {
  align-self: stretch;
  position: relative;
}
.tagline2 {
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--primary-color-primary);
}
.description82,
.title20 {
  line-height: 140%;
}
.description82 {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--light-text-medium);
}
.text351 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--special-large-1600-headline-h2-size);
}
.label11 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
}
.icon117 {
  position: relative;
  width: 6.24px;
  height: 10.49px;
}
.button-secondary1,
.content13 {
  display: flex;
  justify-content: flex-start;
}
.button-secondary1 {
  border-radius: var(--br-11xs);
  border: 2px solid var(--light-text-strong);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  cursor: pointer;
}
.button-secondary1:hover {
  width: auto;
  height: auto;
  border: 2px solid var(--primary-color-primary);
  box-sizing: border-box;
}
.content13 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.div10,
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  height: calc(100% - 458.34px);
  top: 274.94px;
  left: 0;
  line-height: 180%;
  display: flex;
  align-items: center;
  width: 13.18px;
  opacity: 0.34;
}
.div10,
.div6,
.div7,
.div8,
.div9 {
  top: 183.28px;
}
.div10,
.div7,
.div8,
.div9 {
  top: 91.61px;
}
.div10,
.div8,
.div9 {
  top: -0.05px;
}
.div10,
.div9 {
  top: 366.6px;
  width: 9.06px;
}
.div10 {
  top: 458.27px;
  width: 13.18px;
}
.ilustration-chart-child {
  position: absolute;
  height: calc(100% - 34.63px);
  width: calc(100% - 68.73px);
  top: 18.18px;
  right: 20.97px;
  bottom: 16.45px;
  left: 47.76px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.67;
}
.cost,
.revenue,
.traffic {
  position: absolute;
  top: calc(50% - 108.05px);
  right: 30.2px;
  line-height: 180%;
  color: var(--light-text-medium);
}
.cost,
.revenue {
  top: calc(50% - 17.05px);
  right: 44.2px;
}
.revenue {
  top: calc(50% - 187.05px);
  right: 10.2px;
  color: var(--primary-color-primary);
}
.lines-icon {
  position: absolute;
  width: calc(100% - 119.46px);
  right: 86.66px;
  bottom: -8.32px;
  left: 32.79px;
  max-width: 100%;
  overflow: hidden;
  height: 556.96px;
}
.ilustration-chart {
  flex: 1;
  position: relative;
  height: 488px;
  font-size: var(--special-large-1600-body-medium-default-size);
  color: var(--color-gray-100);
}
.section-talkexpert {
  align-self: stretch;
  background: linear-gradient(180deg, #f9f9f9, #f2f2f2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-61xl) var(--padding-141xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-text-strong);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 1600px) {
  .section-talkexpert {
    align-self: stretch;
    width: auto;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .tagline2 {
    font-size: var(--font-size-xs);
  }
  .title20 {
    font-size: var(--special-large-1600-headline-h5-size);
  }
  .description82 {
    font-weight: 500;
    font-family: var(--special-large-1600-body-small);
    font-size: var(--font-size-lg);
  }
  .content13,
  .ilustration-chart {
    flex: unset;
    align-self: stretch;
  }
  .section-talkexpert {
    flex-direction: column;
    gap: var(--gap-21xl);
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
