.tagline,
.title15 {
  align-self: stretch;
  position: relative;
}
.tagline {
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
}
.title15 {
  font-size: var(--slg-1600px-h2-slg1600-section-title-size);
  line-height: 140%;
  color: var(--light-background-super);
}
.description78 {
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--dark-text-medium);
  display: flex;
  align-items: center;
  width: 640px;
}
.texts {
  width: 892px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.b,
.badge-child {
  position: absolute;
}
.badge-child {
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b {
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge {
  position: relative;
  width: 24px;
  height: 25px;
}
.description79,
.title16 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
  color: var(--light-text-strong);
}
.description79 {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--light-text-medium);
}
.content9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.div3,
.div4 {
  position: relative;
  line-height: 170%;
  font-weight: 500;
}
.div4 {
  flex: 1;
  font-size: var(--font-size-37xl);
  line-height: 140%;
  font-weight: 900;
}
.price {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.in-credit-to {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  line-height: 150%;
  color: var(--light-text-medium);
}
.slot {
  width: 437.33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--special-large-1600-headline-h4-size);
  color: var(--light-text-strong);
}
.no-credit-card {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.action-area,
.card8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.action-area {
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--medium-640-body-small-size);
  color: var(--light-text-medium);
}
.card8 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--light-background-super);
  overflow: hidden;
  padding: var(--padding-21xl);
  justify-content: space-between;
}
.after-that-pay {
  margin: 0;
}
.more {
  color: var(--primary-color-primary);
}
.you-use-the {
  color: var(--light-background-super);
}
.title17 {
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
}
.gb-transferred,
.rate-as-low,
.title17 {
  align-self: stretch;
  position: relative;
}
.rate-as-low {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 160%;
}
.gb-transferred {
  line-height: 150%;
  color: var(--dark-text-medium);
}
.content10,
.info-product,
.slot1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.slot1 {
  height: 298px;
  gap: var(--gap-base);
}
.content10 {
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-5xl);
}
.action-area1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.card9 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 39.999969482421875px;
  align-items: flex-start;
  justify-content: space-between;
}
.description80 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--dark-text-medium);
}
.action-area2,
.content11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.action-area2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.card10,
.cards,
.section-banner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.card10 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-21xl);
  justify-content: space-between;
}
.cards,
.section-banner {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--light-background-super);
}
.section-banner {
  background-color: var(--light-text-strong);
  flex-direction: column;
  padding: var(--padding-37xl) var(--padding-141xl) var(--padding-121xl);
  justify-content: center;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--primary-color-primary);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 1600px) {
  .section-banner {
    align-self: stretch;
    width: auto;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1440px) {
  .card9 {
    flex: 1;
    height: auto;
  }
  .content11 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card10 {
    flex: 1;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .description78,
  .tagline,
  .title15 {
    text-align: center;
    align-self: stretch;
    width: auto;
  }
  .description78,
  .title15 {
    font-size: var(--special-large-1600-headline-h4-size);
  }
  .description78 {
    font-size: var(--special-large-1600-body-small-size);
  }
  .texts {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .description79,
  .texts {
    align-self: stretch;
    width: auto;
  }
  .content9 {
    gap: var(--gap-5xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
  .content9,
  .slot {
    align-self: stretch;
    width: auto;
    height: auto;
  }
  .card8 {
    flex: unset;
    gap: var(--gap-5xl);
    padding: var(--padding-13xl);
  }
  .card10,
  .card8,
  .card9,
  .cards,
  .section-banner {
    align-self: stretch;
    height: auto;
    box-sizing: border-box;
  }
  .card10,
  .card9 {
    flex: unset;
    padding: var(--padding-13xl);
  }
  .cards,
  .section-banner {
    width: auto;
    gap: var(--gap-21xl);
    align-items: center;
    justify-content: center;
  }
  .cards {
    flex-direction: column;
    padding-left: 0;
  }
  .section-banner {
    padding: var(--padding-29xl) var(--padding-5xl);
  }
}
