.badge-child8 {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b11 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge11 {
  position: relative;
  width: 24px;
  height: 25px;
}
.tagline2 {
  position: relative;
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--primary-color-primary);
  display: inline-block;
  width: 1600px;
}
.description91,
.title10 {
  position: relative;
  line-height: 140%;
  display: flex;
  align-items: center;
  width: 1600px;
}
.description91 {
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--light-text-text-color-weak);
  width: 784px;
}
.text385 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--special-large-1600-headline-h2-size);
}
.title11 {
  position: relative;
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 312px;
}
.price8 {
  align-self: stretch;
  position: relative;
  line-height: 180%;
}
.for-customers-looking {
  color: var(--light-text-text-color-weak);
}
.content47 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.label33 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-headline-h2);
  color: var(--light-text-text-color-strong);
  text-align: left;
}
.icon280 {
  position: relative;
  width: 16px;
  height: 16px;
}
.button29 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-color-primary);
  border-radius: var(--br-11xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.card15 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  height: 438px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.title12 {
  font-size: var(--special-large-1600-headline-h5-size);
}
.title12,
.title13 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.price10 {
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
}
.description94 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
}
.content51 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-5xs);
}
.content50,
.content51,
.row94 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content50 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  height: 438px;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--special-large-1600-headline-h5-size);
}
.row94 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--special-large-1600-body-medium-default-size);
}
.check-the-features {
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  font-family: var(--special-large-1600-headline-h2);
  color: var(--light-text-text-color-weak);
  text-align: left;
}
.icon283 {
  position: relative;
  width: 24px;
  height: 24px;
}
.anchor,
.chevron-right13 {
  display: flex;
  flex-direction: row;
}
.chevron-right13 {
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.anchor {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: transparent;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.badge-parent,
.section-pricing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge-parent {
  gap: var(--gap-29xl);
}
.section-pricing {
  background-color: var(--light-text-text-color-strong);
  padding: var(--padding-77xl) var(--padding-141xl) var(--padding-117xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--super-light-theme);
  font-family: var(--special-large-1600-headline-h2);
}
@media screen and (max-width: 1200px) {
  .description91,
  .title10 {
    align-self: stretch;
    width: auto;
  }
  .text385 {
    height: auto;
  }
  .badge-parent,
  .text385 {
    align-self: stretch;
    width: auto;
  }
}
@media screen and (max-width: 960px) {
  .content47 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card15 {
    flex: unset;
    height: auto;
    align-self: stretch;
  }
  .content51 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .content50,
  .row94 {
    align-self: stretch;
    height: auto;
  }
  .content50 {
    flex: unset;
  }
  .row94 {
    width: auto;
    flex-direction: column;
  }
  .section-pricing {
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
}
