.badge-child2 {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b5 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge5 {
  position: relative;
  width: 24px;
  height: 25px;
}
.tagline3 {
  position: relative;
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--primary-color-primary);
  display: inline-block;
  width: 1600px;
}
.description84,
.title22 {
  position: relative;
  line-height: 140%;
  display: flex;
  align-items: center;
  width: 1600px;
}
.description84 {
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
  color: var(--dark-text-medium);
  width: 784px;
}
.text352 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--special-large-1600-headline-h2-size);
}
.subtitle1,
.title23 {
  align-self: stretch;
  position: relative;
}
.title23 {
  font-size: var(--special-large-1600-headline-h5-size);
  line-height: 150%;
}
.subtitle1 {
  line-height: 180%;
}
.for-customers-looking {
  color: var(--dark-text-medium);
}
.content16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.card12,
.content16,
.title25 {
  align-self: stretch;
}
.card12 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  align-items: flex-start;
  justify-content: space-between;
}
.title25 {
  position: relative;
  line-height: 150%;
}
.subtitle3 {
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
}
.description87 {
  align-self: stretch;
  position: relative;
  font-size: var(--special-large-1600-body-medium-default-size);
  line-height: 180%;
}
.content20 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-5xs);
}
.content19,
.content20,
.row90 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content19 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--dark-background-base);
  flex-direction: column;
  padding: var(--padding-13xl);
  gap: var(--gap-5xl);
  font-size: var(--special-large-1600-headline-h5-size);
}
.row90 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--special-large-1600-body-medium-default-size);
}
.check-the-features {
  position: relative;
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  font-family: var(--special-large-1600-body-small);
  color: var(--dark-text-medium);
  text-align: left;
}
.icon118 {
  position: relative;
  width: 24px;
  height: 24px;
}
.achor,
.chevron-right13 {
  display: flex;
  flex-direction: row;
}
.chevron-right13 {
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.achor {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: transparent;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.content15,
.section-pricing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content15 {
  gap: var(--gap-29xl);
}
.section-pricing {
  background-color: var(--light-text-strong);
  padding: var(--padding-77xl) var(--padding-141xl) var(--padding-117xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-background-super);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 1600px) {
  .section-pricing {
    align-self: stretch;
    width: auto;
    height: auto;
    padding: var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1440px) {
  .content16 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .card12 {
    flex: 1;
    align-self: stretch;
    height: auto;
  }
  .content20 {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .content19 {
    flex: 1;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .tagline3 {
    font-size: var(--font-size-xs);
  }
  .title22 {
    font-size: var(--font-size-9xl);
  }
  .description84 {
    font-size: var(--special-large-1600-body-small-size);
  }
  .card12,
  .content19 {
    flex: unset;
    align-self: stretch;
  }
  .row90 {
    flex-direction: column;
    gap: var(--gap-21xl);
  }
  .achor {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .section-pricing {
    padding: var(--padding-29xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
