.badge-child6 {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b9 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge9 {
  position: relative;
  width: 24px;
  height: 25px;
}
.tagline {
  position: relative;
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--primary-color-primary);
  display: inline-block;
  width: 460px;
}
.description88,
.title7 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.description88 {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--light-text-text-color-medium);
}
.label30,
.text383 {
  color: var(--light-text-text-color-strong);
}
.text383 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-45xl);
  font-size: var(--special-large-1600-headline-h2-size);
}
.label30 {
  position: relative;
  font-size: var(--special-large-1600-body-small-size);
  letter-spacing: -0.01em;
  line-height: 16px;
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--special-large-1600-headline-h2);
  text-align: left;
}
.icon277 {
  position: relative;
  width: 16px;
  height: 16px;
}
.button26,
.content44,
.section-signup {
  display: flex;
  justify-content: flex-start;
}
.button26 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-color-primary);
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.content44,
.section-signup {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.content44 {
  gap: var(--gap-13xl);
}
.section-signup {
  background-color: var(--super-light-theme);
  overflow: hidden;
  padding: var(--padding-61xl) var(--padding-141xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--super-light-theme);
  font-family: var(--special-large-1600-headline-h2);
}
@media screen and (max-width: 1200px) {
  .description88,
  .title7 {
    flex: unset;
    align-self: stretch;
  }
  .text383 {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 960px) {
  .description88,
  .title7 {
    flex: unset;
    align-self: stretch;
  }
  .text383 {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  .section-signup {
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
}
