.ellipse-div {
  position: absolute;
  height: 96%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4%;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-primary);
}
.b3 {
  position: absolute;
  top: 4%;
  left: 29.17%;
  line-height: 150%;
}
.badge3 {
  position: relative;
  width: 24px;
  height: 25px;
}
.tagline1 {
  position: relative;
  letter-spacing: 0.5em;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--primary-color-primary);
  display: inline-block;
  width: 460px;
}
.description81,
.title19 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.description81 {
  font-size: var(--special-large-1600-body-large-size);
  line-height: 170%;
  font-weight: 500;
  color: var(--light-text-medium);
}
.content12,
.section-signup,
.text350 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text350 {
  flex-direction: row;
  gap: var(--gap-45xl);
  font-size: var(--special-large-1600-headline-h2-size);
  color: var(--light-text-strong);
}
.content12,
.section-signup {
  flex-direction: column;
}
.content12 {
  gap: var(--gap-13xl);
}
.section-signup {
  background-color: var(--light-background-super);
  overflow: hidden;
  padding: var(--padding-61xl) var(--padding-141xl);
  text-align: left;
  font-size: var(--special-large-1600-body-small-size);
  color: var(--light-background-super);
  font-family: var(--special-large-1600-body-small);
}
@media screen and (max-width: 1600px) {
  .section-signup {
    align-self: stretch;
    width: auto;
    height: auto;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .tagline1 {
    font-size: var(--font-size-xs);
  }
  .description81,
  .title19 {
    font-size: var(--special-large-1600-headline-h5-size);
    flex: unset;
    align-self: stretch;
  }
  .description81 {
    font-size: var(--font-size-lg);
  }
  .text350 {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-21xl);
  }
  .section-signup {
    padding: var(--padding-29xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
